<div class="card">
  <h1 class="h-25">Your order</h1>
  <ul>
    <li>
      <div class="row">
        <div class="col-6">
          <h2>Product</h2>
        </div>
        <div class="col-3">
          <h2>Quantity</h2>
        </div>
        <div class="col-3">
          <h2>Price</h2>
        </div>
      </div>
    </li>
    <li *ngFor="let item of items">
      <div class="row">
        <div class="col-6">
          <h3>{{item.name}}</h3>
        </div>
        <div class="col-3">
          <h3>{{cartService.getNumberOfDishes(item)}}</h3>
        </div>
        <div class="col-3">
          <h3>{{cartService.getTotalPriceForDish(item)}}</h3>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-6">
          <h2>Total</h2>
        </div>
        <div class="col-3">
          <h2>{{cartService.getTotalNumberOfDishes()}}</h2>
        </div>
        <div class="col-3">
          <h2>{{cartService.getTotalPrice()}}</h2>
        </div>
      </div>
  </ul>
  <button class="btn btn-primary" (click)="buy()"> Buy</button>
</div>
