.container {
  display: flex;
  margin: 0 auto;
}

app-search {
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 50px;
  left: 0;
  background-color: #eee;
  overflow-y: scroll;
  width: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

app-dishes {
  margin-left: 50px;
  width: 100%;
}
.btn{
  /*background-color: #7FDBFF;*/
  position: relative;
  top: -500px;
  /*z-index: ;*/

}

.search {
  left: -200px;
}
