.container{
    display: flex;
    flex-direction: column;
}
*{
  font-family: quicksand, serif;
}
.items{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.item{
  margin-left:10px ;
}

.item label{
    margin-left: 5px;
}
